{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container ">
        <h1>Awards & Achievements </h1>
        <h2 style="color: #c71782; font-weight: 300;">Thoughtful Appreciations for Meaningful Practices</h2>
        <div class="row mt-4">
            <div class="col-lg-9">
        <h5>Being FIRST is an honour. We have made our ‘First’ impressions in care that took us further in promoting good health and happiness for all. We are still evolving with time and are making our mark as the first in adapting novel therapies, techniques and technologies in care.</h5>
        </div>
        <div class="col-lg-3"></div>
        </div>
    </div>
</section>
<br/>
<section>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-6 px-4" >
                <img src="{% static 'img/achievements.png' %}" class="img-fluid" alt="achievements" style="float:right;" />
            </div>
            <div class="col-lg-6 px-4">
                <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First<br/> Dialysis Unit</h5>
                <p>We made the FIRST move in dialysis care in Kerala by introducing the state's first dialysis unit, which is also India's third.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Central Travancore’s First <br/> Renal Transplantation Programme</h5>
                <p>One of the best renal centres in Central Travancore, we are the FIRST in the region to introduce the Renal Transplantation Programme, undertaking both live and deceased renal transplantations.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kottayam’s First NABH <br/> Accredited Hospital</h5>
                <p>We received the NABH (National Accreditation Board for Hospitals & Healthcare Providers) accreditation for our relentless efforts in improving and upholding quality of the delivery of services and patient safety, and became the FIRST hospital to achieve this certification.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Central Travancore’s First Liver <br/> Transplantation Programme</h5>
                <p>We are the FIRST to introduce the Liver Transplantation Programme in Central Travancore under the aegis of our Department of Surgical Gastroenterology.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala's First Private Hospital to Introduce <br/>COVID Control Cell</h5>
                <p>We are the FIRST & only hospital in Kerala to introduce a dedicated COVID Control Cell in the private sector.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First Hospital to Achieve 1000+ Keyhole Heart <br/> Bypass Surgeries</h5>
                <p>We are Kerala’s FIRST and the only centre to achieve 1000+ Keyhole Heart Bypass Surgeries, creating a benchmark. Thanks to our eminent doctors and world-class technologies.</p>
                </div>
                
            </div>
        </div>
         <div class="row  mt-5">
            <div class="col-lg-6 px-4" style="text-align:right;">
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First Laser <br/>Angioplasty System</h5>
                <p>We are the FIRST to introduce the Laser Angioplasty System in Kerala, achieving a new milestone in cardiac care. The novel system safely and reliably removes clots and blocks inside the blood vessels of the heart and various parts of the body.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First Great Place To Work-Certified <br/>Hospital </h5>
                <p> We became the FIRST hospital in Kerala to achieve the Great Place To Work Certification, considered the ‘Gold Standard’ in identifying and recognizing institutions with great workplace cultures.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First 384-Slice Diagnostic Cardiology <br/> Dual Energy RT-CT Scan Machine</h5>
                <p>We are the FIRST in Kerala to introduce the 384-slice Diagnostic Cardiology Dual Energy RT-CT Scan Machine, paving the way for enhanced clinical capabilities and improved patient outcomes.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala’s First TrueBeam with <br/> HyperArc Technology</h5>
                <p>We are the FIRST in Kerala to introduce TrueBeam with HyperArc Technology for High-Definition Radiosurgery along with Surface-Guided Radiotherapy, ensuring increased precision and accuracy</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">India's First Telemedic AI ED<br/> on Wheels</h5>
                <p>We are the FIRST in India to introduce Telemedic AI ED on Wheels - C RATS AI (An AI-Powered Remote Ambulance Telemetry Services Powered By Caritas), which enables doctors and medical team to monitor, screen, analyze, diagnose and support management remotely to make more informed treatment decisions.</p>
                </div>
                 <div class="col-content mb-4">
                <h5 style="color:#C71782;">Kerala's First Hospital to Implement <br/>Bharat Bill Payment System</h5>
                <p>We are the FIRST hospital in Kerala to implement the Bharat Bill Payment System (BBPS), which enables customers to make payments directly from their bank account to the Hospital Billing Department, without having to use the hospital’s payment interface.</p>
                </div>
            </div>
        
            <div class="col-lg-6 px-4">
                <img src="{% static 'img/achievements2.png' %}" class="img-fluid" alt="achievements" style="width:570px !mportant;" />
               
                
            </div>
        </div>
    </div>
    
</section>
<section class="mb-4" id="accreditations">
    <div class="container">
        <div class="row justify-content-center" style="width:60%;margin:0 auto;">
            <h3 class="text-center">Accreditations</h3>
            <p class="text-center">Discover the assurance of quality and excellence in healthcare at Caritas Hospital through our prestigious accreditations. We take pride in meeting and exceeding industry standards, ensuring that you receive the highest level of care.</p>
        </div>
        <p>&nbsp;</p>
      <!--  <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/ISO.png' %}" class="img-fluid" alt="achievements" />
              </div>
              <div>
                <ul>
                    <li>ISO 9001:2015 Certification Since 2008</li>
                    <li>ISO 21001-2018 Certification for Caritas College of Pharmacy</li>
                </ul>
              </div>
            </div>
                
            </div>
            <hr class="my-4" style="border:1px solid #C71782;opacity:100%;">
        </div>
        -->
          <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/NABH-1.png' %}" class="img-fluid" alt="achievements" style="width:93px;"  />
              </div>
              <div>
                <ul>
                    <li>NABH Accreditation Since 2015</li>
                    <li>NABH 5th Edition Accreditation Since 2022</li>
                    <li>NABH Ethics Committee Accreditation Since 2020</li>
                </ul>
              </div>
            </div>
                
            </div>
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/NABH-2.png' %}" class="img-fluid" alt="achievements" style="width:93px;" />
              </div>
              <div>
                <ul>
                    <li>NABH Nursing Excellence Certification Since 2019</li>
                    <li>NABH Nursing Excellence Re-accreditation Since 2022</li>
                </ul>
              </div>
            </div>
                
            </div>
            <hr class="my-4" style="border:1px solid #C71782;opacity:100%;">
        </div>
          <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/NABL_Official_LOGO_Registered 2.png' %}" class="img-fluid" alt="achievements" style="width:93px;" />
              </div>
              <div>
                <ul>
                    <li>NABL Accreditation for Molecular Testing in Real-Time RT-PCR (Closed System) Since 2020</li>
                </ul>
              </div>
            </div>
                
            </div>
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/Course tile 2.png' %}" class="img-fluid" alt="achievements" />
              </div>
              <div>
                <ul>
                    <li>Mother & Baby Friendly Hospital Initiative (MBFHI) Accreditation Since 2022</li>
                </ul>
              </div>
            </div>
                
            </div>
            <hr class="my-4" style="border:1px solid #C71782;opacity:100%;">
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/epihc.png' %}" class="img-fluid" alt="achievements" style="width:93px;"/>
              </div>
              <div>
                <ul>
                    <li>EPiHC (Ethical Principles in Health Care) Accreditation Since 2022</li>
                </ul>
              </div>
            </div>
                
            </div>
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/eatright.png' %}" class="img-fluid" alt="achievements" style="width:93px;" />
              </div>
              <div>
                <ul>
                    <li>Eat Right Campus Accreditation Since 2022</li>
                </ul>
              </div>
            </div>
                
            </div>
          
            <hr class="my-4" style="border:1px solid #C71782;opacity:100%;">
        </div>
                  <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/CAHO.png' %}" class="img-fluid" alt="achievements"  />
              </div>
              <div>
                <ul>
                    <li>Center of Quality Promotion Certified Since 2023</li>
                </ul>
              </div>
            </div>
                
            </div>
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/great.png' %}" class="img-fluid" alt="achievements" />
              </div>
              <div>
                <ul>
                    <li>Great Place to Work Certification 2023 in Healthcare Industry</li>
                </ul>
              </div>
            </div>
                
            </div>
            <hr class="my-4" style="border:1px solid #C71782;opacity:100%;">
        </div>
                  <div class="row mt-5">
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/diamond.png' %}" class="img-fluid" alt="achievements"  style="width:107px;height:87px;"/>
              </div>
              <div>
                <ul>
                    <li>Won Diamond Status by the World Stroke Organization (WSO) for Excellence in Stroke Care in 2023</li>
                </ul>
              </div>
            </div>
                
            </div>
            <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="icon mx-3">
               <img src="{% static 'img/Ficci-1 1.png' %}" class="img-fluid" alt="achievements"  style="width:56px;height:114px;" />
              </div>
              <div>
                <ul>
                    <li>Won "Made in Kerala 2023" award for Best Medical Institution with over 500 beds by the Federation of Indian Chambers of Commerce & Industry (FICCI)</li>
                </ul>
              </div>
            </div>
                
            </div>
            
          
        </div>
    </div>
</section>

<!--
<section >
    <div class="container ">
          
            <div class="row justify-content-center bottomlinks " style="width:90%;margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p><a style="color:#000;" href="{% url 'director_message' %}">Director's Message</a></p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                           <a href="{% url 'director_message' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000;" href="{% url 'ethics' %}">Ethics Committee</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'insurance' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'governing_body' %}">Governing Body</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a href="{% url 'blood' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'quality_control' %}">Quality Indicators </a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000;" href="{% url 'milestones' %}">Milestones</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'clinical' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'biomedical'%}">Biomedical Waste Management (BMW)</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#C71782;" href="{% url 'achievements' %}">Awards & Achievements</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="#">FAQ</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
            
           </div>
        
        
    </div>
</section>
-->

{% endblock%}