 <form action="/enquire_form/" method="post" class="custom-form">
                    {% csrf_token %}
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="text" id="first_name" placeholder="First Name" name="first_name" class="form-control" required>
                            <span class="required-symbol">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="text" id="last_name" placeholder="Last Name" name="last_name" class="form-control" required>
                            <span class="required-symbol">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            <span class="required-symbol">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="tel" id="phone_number" name="phone_number" placeholder="Phone Number" class="form-control" required>
                            <span class="required-symbol">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-sm-12">
                            <button type="submit" class="enqrbtn">Enquire Now ></button>
                        </div>
                    </div>
                </form>