{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">General, Minimal Access and Bariatric Surgery (General Surgery)</h1>
                <h2 style="color: #c71782; font-weight: 300;">General Surgery Hospital in Kerala</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/General Surgery 859X386.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>
                     {% include 'caritasapp/enquiry_form_template.html' %}
 
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container "  id="deptmenu">
        <div class="navbar" id="navbr"> 
            <ul >
                <li><a href="#overview">Overview</a></li>
                <li><a href="#treatments-procedures">Treatments and Procedures</a><li>
                <li><a href="#doctors">Doctors</a><li>
                <li><a href="#articles">Articles</a><li>
            </ul>

        </div></div>
</section>
<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Pioneering Surgical Excellence, With Precision, <br>Compassion, and Lifelong Transformation</h3>
            <p>&nbsp;</p>
            <div class="col-lg-5">
                    <img src="{% static 'img/General Surgery (1).png' %}" style="width:96%;" />
             </div>
            <div class="col-lg-7 pt-4 mt-1">
                   <p style="font-weight:500;margin-bottom:30px;"> The Department of General Surgery at the Caritas Hospital offers advanced surgical care and support for patients with acute illness or injury, based on a multi-disciplinary approach.  </p>
                   <p style="font-weight:500;">The team here, comprising highly experienced surgeons, is capable of handling even the most complicated cases. They provide evidence-based medical care with unparalleled expertise and state-of-the-art technical support, adhering to global treatment protocols.</p>
                   <p style="font-weight:500;">The Department has modern surgical operation theatres with facilities for major open and minimal access operations. Moreover, the Department is one of the finest centres in the region, offering outpatient, inpatient and 24/7 Emergency Care.</p>
            </div>
        </div>
  </div>
</section>
<section  id="deptsections" style="background-color:#F4F6F6;max-width:100%;"><span id="treatments-procedures"></span>
    <div class="container mt-5">
                <div class="row justify-content-center">
                    <h3 class="text-center">Treatment and Procedures</h3>
                    <p class="text-center mb-5 mt-3">Comprehensive general surgical service with three units for integrated all-round surgical care backed by dedicated anesthesiology and critical care teams.</p>
                </div>
                <div class="row justify-content-center" style="width:90%;margin:0 auto;"> 
                <div class="col-lg-6">
               <ul>
                    <li>
                        <p>Head and neck surgery including thyroid, parotid, neck nodes.</p>
                    </li>
                    <li>
                        <p>Surgical option for conventional mastectomy/breast reconstruction/breast conservative surgery/oncoplastic breast </p>
                    </li>
                    <li>
                        <p>  OP Services on all weekdays</p>
                    </li>
                    <li>
                        <p> 24 hour emergency surgical services</p>
                    </li>
                    <li>
                        <p>All major and minor general surgical procedures</p>
                    </li>
                    <li>
                        <p>All basic and advanced laparoscopic procedures</p>
                    </li>
                    <li>
                        <p> All gastrointestinal surgeries (both open and laparoscopic)</p>
                    </li>
                    <li>
                        <p> Head and neck surgeries</p>
                    </li>
                </ul>
                </div>
                 <div class="col-lg-6">
                     <ul>
                        <li>
                            <p>Integrated breast care programmes; clinical examination, FNAC, mammography, breast surgeries, mastectomy, breast conservation and reconstruction</p>
                        </li>
                        <li>
                            <p>Management of hemorrhoids; open surgery, stapler haemorrhoidectomy , banding , infra red coagulation</p>
                        </li>
                        <li>
                            <p>Comprehensive diabetic foot management</p>
                        </li>
                        <li>
                            <p>Varicose vein surgery</p>
                        </li>
                        <li>
                            <p>Open and laparoscopic surgery for hernia</p>
                        </li>
                        <li>
                            <p>Pilonidal sinus surgery; excision and multiple Z plasty</p>
                        </li>
                        <li>
                            <p>Dedicated obesity clinic; dietary advice, exercise training, psychotherapy and cosmetic surgery</p>
                        </li>
                        <li>
                            <p>Dedicated bariatric surgical team</p>
                        </li>
                    </ul>
                 </div>
            </div>

        
    </div>
</section>

<section id="deptsections"><span id="doctors"></span>
    <div class="container mt-5">
         <h3 class="text-center mb-4">Dedicated Team of Doctors</h3>
            <p class="text-center">At Caritas, our dedicated team of experienced doctors is committed to your well-being. With a wealth of medical expertise and a passion for compassionate care, our physicians are here to provide you with top-notch healthcare services.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
           <div class="row  " >
                 <h5 class="mainheading">General Surgery</h5>
                {% for doctor in doctors%}
                 {% if doctor.specialization == "General Surgery" %} 
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 pt-4 doctorbox ">
                        <div class="d-flex align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 mr-5 dr_img">
                                <img src="{{ doctor.image.url }}" alt="Doctor img" class="img-fluid" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mx-2 mt-2">
                                <h4>{{ doctor.name }}</h4>
                                <h6>{{ doctor.designation }}</h6>
                                <h6><a style="color:#c71782;" href="#">{{ doctor.department }}</a></h6>
                                <p class="hide_mobile">&nbsp;</p>
                                <p><a style="color:#c71782;" href="https://booking.caritashospital.org/schedule/OnlineAppointmentBooking/OnlineAppointmentBooking.aspx" target="_blank">Book An Appointment<i class="bi bi-chevron-right ms-2"></i></a></p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 ml-auto align-self-start drurl">
                                <a href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                                    <i class='bi bi-arrow-right-circle' style="font-size:40px;color:#C71782;"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>
                
            {% endif %}
            {% endfor %}
        
           
        </div>
    </div>
</section>
<section id="deptsections">
    <span id="articles"></span>
    <div class="container mt-5">
        <div class="row">
            

            {% if posts_exist %}
            <h3 class="mb-4 text-center">Articles to Read</h3>
            <p class="mb-4 text-center">Whether you're seeking knowledge, inspiration, or valuable insights, our articles offer a wealth of information to inform and empower you on your journey towards better health and well-being.</p>
            <p>&nbsp;</p>
                {% for post in posts %}
                    {% if post.department.name == "General Surgery" %}
                        <div class="col-lg-12">
                            <div class="post">
                                <div class="row align-items-center mx-4">
                                    <div class="col-lg-11">
                                        <h6>{{ post.title }}</h6>
                                    </div>
                                    <div class="col-lg-1">
                                        <a href="{% url 'detail' post.slug %}">
                                            <img src="{% static 'img/right-arrow.png' %}" alt="right-arrow">
                                        </a>
                                    </div>
                                </div>
                                <hr style="width: 95%; margin: 30px auto;">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <p><a class="mx-4 mt-5" href="#" style="color:#c61682;">View All Articles <i class="bi bi-chevron-right ms-2"></i></a></p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>
</section>



{% endblock%}