{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Terms & Conditions </h1>
                <h2 style="color: #c71782; font-weight: 300;">Understanding Our Commitment</h2>
             <p>&nbsp;</p>   
        </div>
        <div class="row">
           <p><b>Terms and Conditions</b></p>
           <p>Welcome to Caritas Hospital's Website <br/>
           These terms and conditions outline the rules and regulations for the use of Caritas Hospital's website. By accessing this website, you accept these terms and conditions. Do not continue to use Caritas Hospital's website if you do not agree with all of the terms and conditions stated on this page.</p>
          <p>The following terminology applies to these Terms and Conditions:</p> 
          <ul style="margin-left:20px;">
              <li> "User," "You," and "Your" refer to you, the person accessing this website and accepting the terms and conditions.</li>
              <li> "Caritas Hospital," "Ourselves," "We," "Our," and "Us" refer to our hospital, its employees, and affiliates.</li>
          </ul>
          
          <p><b>Cookies</b></p>
          <p>We use cookies. By accessing Caritas Hospital's website, you agreed to use cookies in agreement with Caritas Hospital's Privacy Policy.<br/> Most interactive websites use cookies to enable us to retrieve user details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>  
          
          <p><b>License </b></p>
          <p>Unless otherwise stated, Caritas Hospital and/or its licensors own the intellectual property rights for all material on Caritas Hospital's website. All intellectual property rights are reserved. You may access this from Caritas Hospital for your own personal use subjected to restrictions set in these terms and conditions.</p>
          <p>You must not:</p>
          <ul style="margin-left:20px;">
          <li>Republish material from Caritas Hospital</li>
          <li>Sell, rent, or sub-license material from Caritas Hospital </li>
          <li>Reproduce, duplicate, or copy material from Caritas Hospital</li>
          <li>Redistribute content from Caritas Hospital</li>
          </ul>
          <p><b>Hyperlinking to Our Content</b></p> 
          <p>The following organizations may link to our website without prior written approval:</p> 
          <ul style="margin-left:20px;">
              <li>Government agencies </li>
              <li>Search engines</li>
              <li> News organizations</li>
              <li>Online directory distributors</li>
          </ul> 
           <p>These organizations may link to our home page, publications, or other website information as long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement, or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party's site.</p>
           <p>If you are interested in creating a hyperlink to our website, you must notify us by sending an e-mail to Caritas Hospital. Please include your name, your organization name, contact information, and the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Allow 2-3 weeks for a response.</p>
           <p>By use of our corporate name, you may also link to our homepage.</p> 
           
           <p><b>iFrames</b></p> 
           <p>Without prior approval and written permission, you may not create frames around our webpages that alter in any way the visual presentation or appearance of our website.</p>
           <p><b>Content Liability</b></p> 
           <p>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that are rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene, or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of any third-party rights.</p>
           <p><b>Reservation of Rights</b></p>
           <p> We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
           
           <p><b>Removal of links from our website</b></p> 
           <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us at any moment. We will consider requests to remove links, but we are not obligated to do so or to respond to you directly.</p>
           
           <p><b>Disclaimer</b></p> 
           <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p> 
           <ul style="margin-left:20px;">
               <li>limit or exclude our or your liability for death or personal injury;</li>
               <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
               <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
               <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
           </ul>
           
           <p><b>Contact Information</b></p>
           <p>If you have any additional questions or concerns regarding our privacy policies, please email us at mail@caritashospital.org and we shall respond you accordingly.</p>
          
        </div>
        
    </div>
        
</section>



{% endblock%}