{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="font-weight: 600;">Urology  </h1>
            <h2 style="color: #c71782; font-weight: 300;">Best Urology Hospital in Kerala </h2>
                        <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0" style="margin:auto 0;" >
                <img src="{% static 'img/UROLOGY-1.png' %}" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;height:500px;">
                <div class="col-content px-4 text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                       {% include 'caritasapp/enquiry_form_template.html' %}
                       
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container " id="deptmenu">
        <div class="navbar" id="navbr"> 
            <ul >
                <li><a href="#overview">Overview</a></li>
                <li><a href="#treatments-procedures">Treatments and Procedures</a><li>
                <li><a href="#doctors">Doctors</a><li>
                <li><a href="#articles">Articles</a><li>
            </ul>

        </div></div>
</section>
<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Where Healing and Innovation Unite in <br/>Orthopaedic Excellence.</h3>
            <p>&nbsp;</p>
            <div class="col-lg-5">
                    <img src="{% static 'img/urology2.png' %}" style="width:96%;" />
             </div>
            <div class="col-lg-7 pt-4 mt-1">
                   <p style="font-weight:500;margin-bottom:30px;"> Urology treatment in India is one of the most popular and demanded medical tourism packages. It is the branch of medicine concerned with the genitourinary system and deals with severe ailments like kidney disease, urinary tract infections, bladder dysfunction, erectile dysfunction and others. People from different countries come to India for affordable urology and urologic oncology treatment, which includes prostate cancer surgery and bladder cancer surgery. Caritas has achieved the name of the best urology hospital in Kerala, which is equipped with highly experienced specialists and state-of-the-art facilities. These facilities enable us at Caritas to carry forward the legacy of India being one of the most sought-after destinations for affordable urology treatments. </p>
                   <p style="font-weight:500;margin-bottom:30px;">  Over the years, we have reinstated our position as the best urology hospital in Kerala by being at the top of the latest innovations and technological refinements in the field of urological care. With our team of highly trained urologists, we provide state-of-the-art diagnostic services to all our patients. Our urologists are backed by many support staff dedicated to providing high-quality care, excellent service and personal attention to each patient.</p>
                   
                   
        </div>
  </div></div>
</section>
<section  id="deptsections" style="background-color:#F4F6F6;max-width:100%;"><span id="treatments-procedures"></span>
    <div class="container mt-5">
                <div class="row justify-content-center">
                    <h3 class="text-center">Treatment and Procedures</h3>
                    <p class="text-center mb-5 mt-3">Treatment and Procedures Caritas hospital offers urological care at all levels- from primary care to tertiary-level expertise. The urologists at the hospital use state-of-the-art technology to diagnose and treat their patients. Our urologists are highly experienced in the field of urology and provide a range of treatments, including:</p>


                </div>
                <div class="row justify-content-center" style="width:90%;margin:0 auto;"> 
                <div class="col-lg-6">
               <ul>
                    <li>
                    <p>Complete minimally invasive urinary stone management</p>
                    </li>
                    <li>
                        <p> Rigid and flexible ureteroscopy to treat ureteral obstruction or to place ureteral stents</p>
                    </li>
                    <li>
                        <p>Tr eatment of urinary tract stones of all sizes and locations</p>
                    </li>
                    <li>
                        <p> PCNL (Percutaneous Nephrolithotomy), MIP (Minimally invasive PCNL)</p>
                    </li>
                    <li>
                        <p>Extracorporeal Shock Wave Lithotripsy (ESWL)</p>
                    </li>
                    <li>
                        <p>Non-operative management for renal/ureteric stones</p>
                    </li>
                    <li>
                        <p>Lower Tract Endourology and Flexible Cystoscopy</p>
                    </li>
                    <li>
                        <p> Conduct urological procedures like urethroplasty, radical cystectomy, incontinence procedures, nephrectomy and partial nephrectomy</p>
                    </li>
                    <li>
                        <p>Laparoscopic and endoscopic procedures</p>
                    </li>
                </ul>
                </div>
                 <div class="col-lg-6">
                     <ul>
                        <li>                       
                            <p>Management of congenital problems like PUJ obstruction, obstructed megaureter etc.</p>
                        </li>
                        <li>
                            <p>Treatment for malignancies in kidney, ureter, bladder and prostate (Urologic Oncology)</p>
                        </li>
                        <li>
                            <p>Benign Enlargement of Prostate - TURP</p>
                        </li>
                        <li>
                            <p>  Open Urology Procedures</p>
                        </li>
                        <li>
                            <p> Urethroplasty</p>
                        </li>
                        <li>
                            <p>  Diagnosis and Treatment of Erectile Dysfunction</p>
                        </li>
                        <li>
                            <p> 
                                Treatment for Male Infertility</p>
                        </li>
                        <li>
                            <p> Andrology and Reconstructive</p>
                        </li>
                        <li>
                            <p>    Renal Transplantation</p>
                        </li>
                    </ul>
                 </div>
            </div>

        
    </div>
</section>

<section id="deptsections"><span id="doctors"></span>
    <div class="container mt-5">
        <h3 class="text-center mb-4">Dedicated Team of Doctors</h3>
            <p class="text-center">At Caritas, our dedicated team of experienced doctors is committed to your well-being. With a wealth of medical expertise and a passion for compassionate care, our physicians are here to provide you with top-notch healthcare services.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          <div class="row  " >
                
                {% for doctor in doctors%}
                 {% if doctor.specialization == "Urology" %} 
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 pt-4 doctorbox ">
                        <div class="d-flex align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 mr-5 dr_img">
                                <img src="{{ doctor.image.url }}" alt="Doctor img" class="img-fluid" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mx-2 mt-2">
                                <h4>{{ doctor.name }}</h4>
                                <h6>{{ doctor.designation }}</h6>
                               
                                <p class="hide_mobile">&nbsp;</p>
                                <p><a style="color:#c71782;" href="https://booking.caritashospital.org/schedule/OnlineAppointmentBooking/OnlineAppointmentBooking.aspx" target="_blank">Book An Appointment<i class="bi bi-chevron-right ms-2"></i></a></p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 ml-auto align-self-start drurl">
                                <a href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                                    <i class='bi bi-arrow-right-circle' style="font-size:40px;color:#C71782;"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>
                
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


<section id="deptsections"><span id="articles"></span>
    <div class="container mt-5">
        <div class="row">
             {% if posts %}
            <h3 class="mb-4 text-center">Articles to Read</h3>

            <p class="mb-4 text-center"> Whether you're seeking knowledge, inspiration, or valuable insights, our articles offer a wealth of information to inform and empower you on your journey towards better health and well-being.</p>
            <p>&nbsp;</p>
            {% for post in posts %}  <!-- Updated variable name -->
            {% if post.department.name == "Urology" %}
            <div class="col-lg-12">
                <div class="post">
                    <div class="row align-items-center mx-4">
                        <div class="col-lg-11">
                            <h6>{{ post.title }}</h6>
                        </div>
                        <div class="col-lg-1">
                            <a href="{% url 'detail' post.slug %}">
                                <img src="{% static 'img/right-arrow.png' %}" alt="right-arrow">
                            </a>
                        </div>
                    </div>
                    <hr style="width: 95%; margin: 30px auto;">
                </div>
            </div>
              {% endif %}
            {% endfor %}
            <p ><a class="mx-4 mt-5" href="{% url 'articles' %}" style="color:#c61682;">View All Articles <i class="bi bi-chevron-right ms-2"></i></a></p>
         {% endif %}
        </div>
    </div>
</section>






{% endblock%}