 <form action="/enquire_form/" method="post" class="custom-form">
                    {% csrf_token %}
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="text" id="first_name" placeholder="First Name" name="first_name" class="form-control" maxlength="30" pattern="^[A-Za-z]{1,}[\.]{0,1}[A-Za-z]{0,}$" required>
                            <span class="required-symbol-wt" style="left:0;">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="text" id="last_name" placeholder="Last Name" name="last_name" class="form-control" maxlength="30" pattern="^[A-Za-z]{1,}[\.]{0,1}[A-Za-z]{0,}$" required>
                            <span class="required-symbol-wt" style="left:0;">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                            <span class="required-symbol-wt" style="left:0;">*</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <div class="col-sm-12">
                            <div class="input-with-symbol">
                                <span class="required-symbol-wt" style="left: 0;">*</span>
                            <input type="tel" id="phone_number" name="phone_number" placeholder="Phone Number"  maxlength="30" class="form-control" pattern="[0-9]{10}" required>
                            

                            
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <div class="col-sm-12">
                            <button type="submit" class="enqrbtn">Enquire Now ></button>
                        </div>
                    </div>
                </form>