{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Physiotherapy</h1>
                <h2 style="color: #c71782; font-weight: 300;">Best Physiotherapy Hospital in Kerala</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/physio1.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                     {% include 'caritasapp/enquiry_form_template.html' %}
                     
                </div>
            </div>
        </div>
    </div>
</section>

<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Revive. Restore. Reclaim Your Mobility<br/> with Caritas Physiotherapy.</h3>
            <p>&nbsp;</p>
            <p>Physiotherapy is a modern and dynamic health profession dedicated to enhancing the well-being of individuals suffering from disease and disability through physical interventions. At Caritas Hospital, we take immense pride in offering one of the largest and most advanced Physiotherapy Departments in Kerala. Our mission is to empower patients to achieve maximum mobility, strength, and an improved quality of life.</p>
            <p>Caritas is dedicated to improving the lives of our patients. We believe that everyone deserves the opportunity to live life to the fullest, unburdened by physical limitations. Through a holistic approach to health and mobility, we aim to restore hope, enhance strength, and maximize the quality of life for every individual we serve.</p>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4" >
                   <h6 class="mb-4">Electrotherapy</h6>

                    <ul>
                        <li>Ultrasound</li>
                        <li>Interferential Therapy</li>
                        <li>Transcutaneous Electrical Nerve Stimulation</li>
                        <li>Moist Heat</li>
                        <li>Electrical Stimulator</li>
                        <li>Continuous Passive Mobilizer</li>
                        <li>Mechanical Traction</li>
                        <li>Infra Red Radiation</li>
                        <li>Cryotherapy</li>
                        <li>Vibrator</li>
                        <li>Wax Therapy</li>
                    </ul>                
                </div>
                <div class="col-lg-5" >
                  <h6 class="mb-4">Exercise Therapy</h6>
                  <div class="row">
                   <div class="col-lg-6">
                    <ul>
                        <li>Static Cycle</li>
                        <li>Quadriceps Table</li>
                        <li>Tilt Table</li>
                        <li>Parallel Bar</li>
                        <li>Shoulder Wheel</li>
                        <li>Thera Band/Tubings</li>
                        <li>Swiss Ball</li>
                        <li>Balancing Board</li>
                        <li>Hand Exerciser</li>
                        <li>Orbitrac</li>
                        <li>Stepper</li>
                        <li>Twister</li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>Dumbbells</li>
                            <li>Ankle Exerciser</li>
                            <li>Abdominal Board</li>
                            <li>Peg Board</li>
                            <li>Treadmill</li>
                            <li>Cross Trainer</li>
                            <li>Whole Body Massager</li>
                            <li>Recumbent Bike</li>
                            <li>Gait Training</li>
                            <li>Postural Correction Exercise</li>
                            <li>Ergonomic Advice</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h6 class="mb-4">Chest Physiotherapy</h6>
                    <h6 class="mb-4">Manual Therapy</h6>
                    <ul>
                        <li>Trigger Point Release</li>
                        <li>Myofacial Release</li>
                        
                    </ul>
                    <h6 class="mb-4">Home Service</h6>

 <h6 class="mb-4">Obesity and Fitness</h6>
                </div>
            </div>
              
        </div>
</section>


<section >
    <div class="container ">
          
            <div class="row justify-content-center bottomlinks" style="width:90%;margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p><a style="color:#000;" href="{% url 'radiology' %}">Radiology & Laboratory</a></p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                           <a href="{% url 'radiology' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000;" href="{% url 'insurance' %}">Insurance Partners</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'insurance' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000;" href="{% url 'blood' %}">Blood Bank</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a href="{% url 'blood' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                             <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'secondopinion' %}">Second Opinion</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a style="color:#C71782;" href="{% url 'secondopinion' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000;" href="{% url 'clinical' %}">Clinical Nutrition</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'clinical' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                 <div>
                                    <p><a href="{% url 'support' %}">Caritas Support Team</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a href="{% url 'support' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#C71782;" href="{% url 'physiotherapy' %}">Physiotherapy</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                  <a style="color:#C71782;" href="{% url 'physiotherapy' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000;" href="{% url 'pastoralcare' %}">Pastoral Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'pastoralcare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000;" href="{% url 'organ' %}">Organ Transplant Program</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'organ' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                 <div>
                                    <p><a  href="{% url 'homecare' %}">Caritas Home Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a  href="{% url 'homecare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                
       
                
           </div>
        
        
    </div>
</section>




 

{% endblock%}