{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Privacy Policy </h1>
                <h2 style="color: #c71782; font-weight: 300;">Your Trust, Our Responsibility</h2>
             <p>&nbsp;</p>   
        </div>
        <div class="row">
           <p>Caritas hospital is committed to protect your privacy. It is important to us that our patients retain their privacy while obtaining the services that we offer. To this end, we adhere to the following basic privacy policies.</p> 
           <p>We ensure maximum security to keep your personal information including name, address or medical history confidential and will not disclose to any third party without your permission unless there is a court order.</p> 
           <p>Although we use cookie technology to help users navigate our site efficiently we never use cookies to store personal information, such as credit/debit card numbers. Please be aware, however, that our site contains link to other sites and that the privacy practices of other sites may differ from those of www.caritashospital.org</p> 
           <p>If you have any additional questions or concerns regarding our privacy policies, please email us at mail@caritashospital.org and we shall respond you accordingly.</p> 
           <p><b>Online Appointment</b></p> 
           <ul style="margin-left:20px;">
               <li>Appointments booked online cannot be cancelled by the patient.</li>
               <li>Patient shall report at the concerned counter at the Hospital 30 minutes prior to the appointment time slot with the confirmation email/SMS. Failure to report on time will be treated as no show.</li>
               <li>Appointment slots/time is only provisional and is subject to change based on the duty schedule of the concerned doctor on the particular appointment date.</li>
               <li>Change of doctor is not allowed for appointments booked prior/online.</li>
               <li>For Appointments made prior to 48 hrs of the appointment date, change in appointment date will be allowed only once if request is made 24 hrs prior to the appointment date through the web appointment helpline: +91 949655300 or 400 between 9am – 5pm.For appointments made within 24 hrs of the appointment date, no request for change in appointment date will be entertained.</li>
               <li>Caritas Hospital and the concerned doctor always have the right to cancel the appointment at anytime.</li>
               <li>Caritas Hospital and the concerned doctor reserve their right to reschedule any appointment made online.In the event of any rescheduling, the same will be intimated to the patient through SMS or Email provided by the patient at the time of online registration.The patient shall be entitled to accept the rescheduled date/time/slot.</li>
               <li>In the event of cancellation/rescheduling of the appointment by Caritas Hospital, Caritas Hospital will be liable only to refund the collected fee and will not be responsible for any other cost, expenses or damages.</li>
               <li>Caritas Hospital and the concerned doctor reserve their right to alter the appointment time/slot to accommodate emergency patients</li>
               <li>Please provide at-least Confirmation printout/SMS when you present yourself at the Hospital.</li>
               <li> If you have problems while booking new online appointments, please log on to www.caritashospital.org </li>
               <li>Use New Patient Link, if it is your first visit to Caritas Hospital.If you already have an existing Register Number, please use – Review Registration Link.</li>
               <li>Before fixing the appointment, the User is advised to carefully check the details, the credentials and terms and conditions applicable to the Service Provider.</li>
               <li> On arrival, if you have problems with your new online appointments, please contact our floor executive or Front Office or Online Counter.</li>
           </ul>  
          
           
          <p ><b> Cancellation/refund policy</b></p>
           <p>There is no cancellation option for the end users after payment is made.In case of duplicate payment, payer/parent/student, kindly approach admin or finance or accounts department of the institution for refund with proof of the transaction reference/ your bank statement. </p>
           <p>Refund will be processed within 10-15 working days, respective payment gateway will send back to the issuing bank [user’s card banker] in batches for processing, which should approximately take 8-15 working days, depending on issuing banks policies.</p>
           <p>Important: by submitting a payment through the online-payments site you are agreeing to these terms and conditions including any updated changes in terms and conditions from time to time through our website.</p>
           <p><b>Change in privacy policy</b></p> 
           <p>Caritas Hospital may update this Privacy Policy at any time, with or without prior notice. In such occurrence there may add significant changes in the way Caritas considers User’s personally. </p>
           <p><b>Disclaimer</b></p> 
           <p>The articles, information and documents provided on this website are purely for information purpose and no legal commitment whatsoever are attached to the same in case of any inadvertent error that might have occurred due to unavoidable circumstances in spite of all the efforts put by the website management team.</p>
        </div>
        
    </div>
        
</section>



{% endblock%}