{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Psychiatry, Counseling and Psychotherapy Services</h1>
                <h2 style="color: #c71782; font-weight: 300;">Psychiatry Hospital in Kerala</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/Psych1.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                   
                      {% include 'caritasapp/enquiry_form_template.html' %}
                      
                </div>
            </div>
        </div> 
        
    </div>
</section>


<section>
    <div class="container " id="deptmenu">
        <div class="navbar" id="navbr"> 
            <ul >
                <li><a href="#overview">Overview</a></li>
                <li><a href="#treatments-procedures">Treatments and Procedures</a><li>
                <li><a href="#doctors">Doctors</a><li>
                <li><a href="#articles">Articles</a><li>
            </ul>

        </div>
        </div>
</section>
<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Healing Minds, Restoring Lives: Your Path to Mental Wellness</h3>
            <p>&nbsp;</p>
            <div class="col-lg-5">
                      <img src="{% static 'img/psych2.png' %}" style="width:96%;" />
             </div>
            <div class="col-lg-7 pt-4 mt-1">
                   <p style="font-weight:500;margin-bottom:30px;">According to a Deloitte survey, mental health issues in India constitute about 15% of the global mental health disorder burden. Such a considerable percentage is mainly attributed to inadequate medical care. This lag in medical care is not because of a lacuna in psychiatric care quality but because of the general stigma associated with mental health issues.</p>
                   <p style="font-weight:500;">To break this stigma, Caritas Hospital has designed a unique package that offers an inclusive approach towards patients with behavioral or mental health issues. Such an approach invites a massive footfall of care-seekers at our premises, which has eventually helped us become one of the best psychiatry hospitals in Kerala</p>
                   <p style="font-weight:500;">The psychiatry department at Caritas Hospital is a specialized healthcare institution that provides evidence-based preventive and therapeutic treatment of mental disorders. Our target is to offer quality services in psychiatric care including geriatric and paediatric care with a calm atmosphere, privacy and respect.</p>
                   <p>Fostering Mental Health and Wellness </p>
                   <p>Our team of psychiatrists, psychologists and social workers are experts in their fields who treat various conditions such as depression, anxiety disorders, post-traumatic stress disorder (PTSD), bipolar disorder (manic depression), schizophrenia, dementia, childhood mental disorders and substance use disorder.</p> 
                   <p>As regarded as one of the best psychiatry hospitals in Kerala, the main objective of Caritas Hospital is to raise awareness of mental health issues, which are often underestimated in our society. Our approach is to help individuals break out of their shells and talk about their mental health issues voluntarily rather than do it out of obligation. We believe what we preach and conduct frequent employee mental health awareness programs. This helps our experts and staff to be in the best state to facilitate all-round mental health for our visitors.</p>
            </div>
        </div>
  </div>
</section>
<section  id="deptsections" style="background-color:#F4F6F6;max-width:100%;"><span id="treatments-procedures"></span>
    <div class="container my-5">
            
       <h3 class="text-center">Treatment and Procedures</h3>
        <p class="text-center mb-5 mt-3">Psychiatrists at Caritas hospital specialize in the evaluation and treatment of psychiatric disorders. They evaluate patients, diagnose their problems and treat those problems with medication and therapy. Counsellors provide individual or group therapy sessions to help people deal with specific issues such as anxiety, depression or relationship problems. They also may provide counselling services to help people cope with stress or trauma related to an event such as a natural disaster or abuse.</p>
        <div class="row justify-content-center" style="width:70%;margin:0 auto;">
          <ul>
           <li>Treatment for general adult psychiatric disorders </li>
           <li>Learning and behavioural disorders in children</li>
           <li>Geriatric psychiatric disorders</li>
           <li>Psychosexual disorders</li>
           <li>  Sleep disorders and Substance use disorders(De-addiction)</li>
           </ul>
        </div>          
    </div>
                 
</section>

<section id="deptsections"><span id="doctors"></span>
    <div class="container mt-5">
         <h3 class="text-center mb-4">Dedicated Team of Doctors</h3>
            <p class="text-center">At Caritas, our dedicated team of experienced doctors is committed to your well-being. With a wealth of medical expertise and a passion for compassionate care, our physicians are here to provide you with top-notch healthcare services.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row  " >
                     <h5 class="mainheading">Psychiatry & Psychology</h5>
                {% for doctor in doctors%}
                 {% if doctor.specialization == "Psychiatry & Psychology" %} 
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 pt-4 doctorbox ">
                        <div class="d-flex align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 mr-5 dr_img">
                                <img src="{{ doctor.image.url }}" alt="Doctor img" class="img-fluid" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mx-2 mt-2">
                                <h4>{{ doctor.name }}</h4>
                                <h6>{{ doctor.designation }}</h6>
                                
                                <p class="hide_mobile">&nbsp;</p>
                                <p><a style="color:#c71782;" href="https://booking.caritashospital.org/schedule/OnlineAppointmentBooking/OnlineAppointmentBooking.aspx" target="_blank">Book An Appointment<i class="bi bi-chevron-right ms-2"></i></a></p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 ml-auto align-self-start drurl">
                                <a href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                                    <i class='bi bi-arrow-right-circle' style="font-size:40px;color:#C71782;"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>
                
            {% endif %}
            {% endfor %}
        
           
        </div>
    </div>
</section>



<section id="deptsections"><span id="articles"></span>
    <div class="container mt-5">
        <div class="row">
             {% if posts %}
            <h3 class="mb-4 text-center">Articles to Read</h3>

            <p class="mb-4 text-center"> Whether you're seeking knowledge, inspiration, or valuable insights, our articles offer a wealth of information to inform and empower you on your journey towards better health and well-being.</p>
            <p>&nbsp;</p>
            {% for post in posts %}  <!-- Updated variable name -->
            {% if post.department.name == "Psychiatry, Counseling and Psychotherapy Services" %}
            <div class="col-lg-12">
                <div class="post">
                    <div class="row align-items-center mx-4">
                        <div class="col-lg-11">
                            <h6>{{ post.title }}</h6>
                        </div>
                        <div class="col-lg-1">
                            <a href="{% url 'detail' post.slug %}">
                                <img src="{% static 'img/right-arrow.png' %}" alt="right-arrow">
                            </a>
                        </div>
                    </div>
                    <hr style="width: 95%; margin: 30px auto;">
                </div>
            </div>
              {% endif %}
            {% endfor %}
            <p ><a class="mx-4 mt-5" href="{% url 'articles' %}" style="color:#c61682;">View All Articles <i class="bi bi-chevron-right ms-2"></i></a></p>
         {% endif %}
        </div>
    </div>
</section>








{% endblock%}