{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="font-weight: 600;">Orthopaedics, Joint Replacement and Arthroscopy </h1>
            <h2 style="color: #c71782; font-weight: 300;"> Best Orthopaedic Hospital in Kerala </h2>
            </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/orthopedics-1.png' %}" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content px-4 text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                      {% include 'caritasapp/enquiry_form_template.html' %}
                      
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container "  id="deptmenu">
        <div class="navbar" id="navbr"> 
            <ul >
                <li><a href="#overview">Overview</a></li>
                <li><a href="#treatments-procedures">Treatments and Procedures</a><li>
                <li><a href="#doctors">Doctors</a><li>
                <li><a href="#articles">Articles</a><li>
            </ul>

        </div>
        </div>
</section>
<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Where Healing and Innovation Unite in<br> Orthopaedic Excellence.</h3>
            <p>&nbsp;</p>
            <div class="col-lg-5">
                    <img src="{% static 'img/ortho1.png' %}" style="width:96%;" />
             </div>
            <div class="col-lg-7 pt-4 mt-1">
                   <p style="font-weight:500;margin-bottom:30px;">At Caritas Hospital, our Orthopaedics, Joint Replacement, and Arthroscopy Department offer cutting-edge treatments, including minimally invasive arthroscopy, interlocking nailing with advanced imaging, total joint replacements, Ilizarov ring fixators, and expert care for fractures and bone tumors. Our Level III emergency care unit, staffed by a dedicated team of emergency medicine, neurosurgery, orthopaedic, and general surgery specialists, provides 24/7 support.</p>
                   <p >&nbsp;</p>
                   <p style="font-weight:500;margin-bottom:30px;">  We maintain a six-bed Emergency ICU with a 1:1 patient-to-nurse ratio and a specialized stainless steel laminar flow operation theater exclusively for orthopaedics, equipped with C-arm facilities for precision hip and spine surgeries. Caritas Hospital is committed to delivering top-notch orthopaedic and emergency care with skill and innovation.</p>
                   
        </div>
  </div>
  </div>
</section>
<section  id="deptsections" style="background-color:#F4F6F6;max-width:100%;"><span id="treatments-procedures"></span>
    <div class="container mt-5">
                <div class="row justify-content-center">
                    <h3 class="text-center">Treatment and Procedures</h3>
                    <p class="text-center mb-5 mt-3">We are dedicated to delivering the highest standards of care and employing advanced techniques to ensure the well-being of our patients. At Caritas Hospital, you can benefit from a wide range of Therapeutic Upper Gastrointestinal and Diagnostic Radiology Procedures.</p>


                </div>
                <div class="row justify-content-center" style="width:90%;margin:0 auto;"> 
                <div class="col-lg-12">
                    <h5 class="mb-4">Services offered </h5>
               <ul>
                    <li>
                        <p> Total Knee Arthroplasty </p>
                    </li>
                    <li>
                        <p>Total Hip Arthroplasty  </p>
                    </li>
                    <li>
                        <p> Total Shoulder Arthroplasty (Normal & Reverse Shoulder) </p>
                    </li>
                    <li>
                        <p>Total Elbow Arthroplasty </p>
                    </li>
                    <li>
                        <p>Arthroscopy of Knee, Shoulder and Ankle:</p>
                  
            
            <div class="row justify-content-center" style="width:90%;margin:0 auto;"> 
                 <div class="col-lg-4">
                     <ul>
                        <li>
                            <p>Single bundle ACL and PCL reconstruction</p>
                        </li>
                        <li>
                            <p>Microfracture</p>
                        </li>
                        <li>
                            <p> Arthroscopic Assisted Fracture Fixation</p>
                        </li>
                        <li>
                            <p>Bankart's repair </p>
                        </li>
                        <li>
                            <p> Subacromial decompression </p>
                        </li>
                        <li>
                            <p> Mini open rotator cuff repair </p>
                        </li>
                    </ul>
                 </div>
                 
                <div class="col-lg-4">
                    <ul>
                       <li>
                           <p>Arthroscopic rotator cuff repair</p>
                       </li>
                       <li>
                           <p> Ankle fusion </p>
                       </li>
                       <li>
                           <p>Management of nonunion and bone loss with Illizarov technique </p>
                       </li>
                       <li>
                           <p> Tumor surgeries, limb salvage with custom made prosthesis </p>
                       </li>
                       <li>
                           <p>Correction of limb deformities </p>
                       </li>
                       
                   </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                       <li>
                           <p>Osteotomies for deformity correction, nonunion and correction of misalignment (HTO) </p>
                       </li>
                       <li>
                           <p>Paediatric Orthopaedics (Fractures and Deformities)</p>
                       </li>
                       <li>
                           <p> All type of complications fracture fixations</p>
                       </li>
                       <li>
                           <p>  Polytrauma Management</p>
                       </li>
                   </ul>
                </div>
            </div>
              </li>
                </ul>
                </div>
        </div>
    </div>
</section>

<section id="deptsections"><span id="doctors"></span>
    <div class="container mt-5">
         <h3 class="text-center mb-4">Dedicated Team of Doctors</h3>
            <p class="text-center">At Caritas, our dedicated team of experienced doctors is committed to your well-being. With a wealth of medical expertise and a passion for compassionate care, our physicians are here to provide you with top-notch healthcare services.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
           <div class="row  " >
                <h5 class="mainheading">Orthopaedics</h5>
                {% for doctor in doctors%}
                 {% if doctor.specialization == "Orthopaedics" %} 
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 pt-4 doctorbox ">
                        <div class="d-flex align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 mr-5 dr_img">
                                <img src="{{ doctor.image.url }}" alt="Doctor img" class="img-fluid" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mx-2 mt-2">
                                <h4>{{ doctor.name }}</h4>
                                <h6>{{ doctor.designation }}</h6>
                                
                                <p class="hide_mobile">&nbsp;</p>
                                  {% if doctor.appointment_enabled %}
                                    <p><a style="color:#c71782;" href="https://booking.caritashospital.org/schedule/OnlineAppointmentBooking/OnlineAppointmentBooking.aspx" target="_blank">Book An Appointment<i class="bi bi-chevron-right ms-2"></i></a></p>
                                {% else %}
                                    <p></p>
                                {% endif %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 ml-auto align-self-start drurl">
                                <a href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                                    <i class='bi bi-arrow-right-circle' style="font-size:40px;color:#C71782;"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>
                
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="deptsections">
    <span id="articles"></span>
    <div class="container mt-5">
        <div class="row">
            

           
            <h3 class="mb-4 text-center">Articles to Read</h3>
            <p class="mb-4 text-center">Whether you're seeking knowledge, inspiration, or valuable insights, our articles offer a wealth of information to inform and empower you on your journey towards better health and well-being.</p>
            <p>&nbsp;</p>
                {% for post in posts %}
                    {% if post.department.name == "Orthopaedics, Joint Replacement and Arthroscopy" %}
                        <div class="col-lg-12">
                            <div class="post">
                                <div class="row align-items-center mx-4">
                                    <div class="col-lg-11">
                                        <h6>{{ post.title }}</h6>
                                    </div>
                                    <div class="col-lg-1">
                                        <a href="{% url 'detail' post.slug %}">
                                            <img src="{% static 'img/right-arrow.png' %}" alt="right-arrow">
                                        </a>
                                    </div>
                                </div>
                                <hr style="width: 95%; margin: 30px auto;">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <p><a class="mx-4 mt-5" href="{% url 'articles' %}" style="color:#c61682;">View All Articles <i class="bi bi-chevron-right ms-2"></i></a></p>
          
        </div>
    </div>
</section>




{% endblock%}