{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Governing Body </h1>
                <h2 style="color: #c71782; font-weight: 300;">Meet Our Hospital Leadership Team</h2>
                
        </div>
    </div>
</section>

<section>
    <div class="container fixed-topnav" id="deptmenu">
        <div class="navbar " id="navbr"> 
            <ul >
                <li><a href="#trust">Caritas Hospital Trust </a></li>
                <li><a href="#members">Members</a><li>
                <li><a href="#board-of-executives">Board of Executives</a><li>
                <li><a href="#pastoral-care"> Pastoral Care</a><li>
                <li><a href="#department-of-nursing">Department of Nursing</a><li>
                <li><a href="#hospital-advisor">Health Advisor</a></li>
            </ul>

        </div>
        </div>
</section>
<section id="deptsections">
    <span id="trust"></span>
    <div class="container">
        <div class="row">
            <h3>Caritas Hospital Trust</h3>
            <p>Discover the pillars of compassion and leadership within Caritas<br/> Charitable Trust, the heart and soul of Caritas Hospital.</p>
            <p>&nbsp;</p>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="{% static 'img/H G Mar.png' %}" class="img-fluid" alt="H.G. Mar Mathew Moolakkatt"  />
                     
                     </div>
                     <div class="col-lg-7" style="margin:auto 0;">
                         <h5>H.G. Mar Mathew Moolakkatt </h5>
                         <p>Metropolitan Archbishop of Kottayam & <br/>Patron, Caritas Hospital Trust</p>
                     </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-5">
                     <img src="{% static 'img/H E Mar.png' %}" class="img-fluid" alt="H.E. Mar Joseph Pandarasseril" />
                     </div>
                     <div class="col-lg-7" style="margin:auto 0;">
                         <h5>H.E. Mar Joseph Pandarasseril  </h5>
                         <p>Auxiliary Bishop of Kottayam & <br/> Chairman, Caritas Hospital Trust</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="deptsections">
     <span id="members"></span>
    <div class="container">
        <h3 class="mb-4">Members of the Trust</h3>
            <p>Meet the dedicated members of Caritas Charitable Trust, the<br/> backbone of Caritas Hospital's mission and values.</p>
            <p>&nbsp;</p>
            <div class="row justify-content-center " >
            
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Binu.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Dr. Binu Kunnath </h5>
                            <p>Secretary</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Gheevarghese.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Gheevarghese Mar Aphrem</h5>
                            <p>Member </p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                  <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Michael.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Michael Vettickat</h5>
                            <p>Member</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
               <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Alex.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Alex Akkaparambil </h5>
                            <p>Member</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
       
    
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Jinu.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Jinu Kavil</h5>
                            <p>Member</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
            
 
                
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Adv.Joy.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Adv. Joy Joseph Kodianthara</h5>
                            <p>Member</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                           
                
           </div>
        
        
    </div>
</section>
<section id="deptsections">
    <span id="board-of-executives"></span>
    <div class="container mt-5">
        <h3 class="mb-4">Hospital Board of Executives</h3>
            <p>Meet our highly regarded Executive Board members, the dynamic<br/> leaders steering Caritas Hospital's administration.</p>
            <p>&nbsp;</p>
            <div class="row" >
            
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Binu.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Dr. Binu Kunnath </h5>
                            <p>Director, Caritas Hospital &<br/> Educational Institutions</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
              
        
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Jinu.png' %}" alt="Gheevarghese" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Jinu Kavil</h5>
                            <p>Joint Director, Administration </p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
             <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Joice.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Joice Nandikunnel </h5>
                            <p>Joint Director, Operations</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr. Stephen.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Stephen Thevarparambil </h5>
                            <p> Joint Director, Services</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Jismon.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Jismon Madathil</h5>
                            <p>Joint Director, Media & Relations</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                  <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Brasson.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Dr. Brasson Ozhungalil</h5>
                            <p>Director, Pastoral Care</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
              
    
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/dr.bobbie.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Dr. Bobbie N. Abraham </h5>
                            <p>Medical Director</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
            
                
    
                
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Dr.Sajan.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Dr. Sajan Thomas </h5>
                            <p>Associate Medical Director</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                           
                
           
              
                           
                
           
              <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Sariga.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Dr. Sariga J Theresa </h5>
                            <p>Chief Nursing Officer</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                           
                
           </div>
           </div>
        
        
    
</section>
<section id="deptsections">
    <span id="pastoral-care"></span>
    <div class="container mt-5">
        <h3 class="mb-4">Pastoral Care</h3>
            <p>Discover the compassionate souls who guide the spiritual well-being of <br/>Caritas Hospital - our dedicated Pastoral Care members.</p>
           
            <p>&nbsp;</p>
            <div class="row" >
            
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Brasson.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Dr. Brasson Ozhungalil</h5>
                            <p>Director, Pastoral Care</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
               <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Abey.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Abey Alex Vadakkaekara </h5>
                            <p>Assistant Director, Pastoral Care</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
        
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr.Abraham.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Abraham Paradiyil </h5>
                            <p>Assistant Director, Pastoral Care </p>
                            
                        </div>
                        
                    </div>
                   
                </div>
            
              
    
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Fr. Graceson.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Rev. Fr. Graceson Jose Vengackal</h5>
                            <p> Assistant Director, Pastoral Care</p>
                            
                        </div>
                        
                    </div>
                
                    
                   
                </div>
            
              
    
        
        
        </div>
    </div>
</section>

<section id="deptsections">
    <span id="department-of-nursing"></span>
    <div class="container mt-5">
        <h3 class="mb-4">Department of Nursing</h3>
            <p>Get to know the leaders who make a profound impact on the well-being of <br/> our community through their exceptional nursing leadership.</p>
           
            <p>&nbsp;</p>
            <div class="row justify-content-center " >
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5  dr_img">
                            <img src="{% static 'media/doctors/Dr._AJith_Venugopal.jpg' %}" alt="Dr._AJith_Venugopal.jpg" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Dr. Ajith Venugopalan</h5>
                            <p> Chief Operations Officer</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Sariga.png' %}" alt="Fr.Binu" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Dr. Sariga J Theresa</h5>
                            <p>Chief Nursing Officer</p>
                            
                        </div>
                        
                    </div>
                    <br/>
                    
                    <hr style="width: 98%;margin:0 ;">
                </div>
                
               
                
               
        </div>
        <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Sr. Shiji.png' %}" alt="Sr. Shiji Jose" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Sr. Shiji Jose  </h5>
                            <p>Associate Nursing Officer</p>
                            
                        </div>
                        
                    </div>
                   
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Sr. Chinnamma.png' %}" alt="Sr. Chinnamma" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Sr. Chinnamma Thomas  </h5>
                            <p>Assistant Nursing Officer</p>
                            
                        </div>
                        
                    </div>
                   
                    
                   
                </div>
        
        </div>
    </div>
</section>

    <section id="deptsections">
    <span id="hospital-advisor"></span>
    <div class="container mt-5">
        <h3 class="mb-4">Hospital Advisor</h3>
            <p>Meet the visionary behind the scenes, helping Caritas Hospital navigate the <br/>path towards innovation and superior patient care.</p>
           
            <p>&nbsp;</p>
            <div class="row" >
                <div class="col-lg-6 col-md-6 col-sm-12 mb-4  ">
                    <div class="d-flex align-items-center">
                        <div class="mr-5">
                            <img src="{% static 'img/Mr.Tiny.png' %}" alt="Mr.Tiny" class="img-fluid" />
                        </div>
                        <div class="mx-4 mt-4" >
                            <h5>Mr.Tiny Philip </h5>
                            <p>Hospital Advisor</p>
                            
                        </div>
                        
                    </div>
                
                    
                   
                </div>
            
        </div>
    </div>
</section>

<section >
    <div class="container ">
          
            <div class="row  bottomlinks " style="width:90%;margin:0 auto;">
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a style="color:#000;" href="{% url 'about_caritas' %}">About Caritas</a>
                        </div>
                        <div class="col-4 text-end">
                           <a href="{% url 'about_caritas' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a style="color:#000;" href="{% url 'ethics' %}">Ethics Committee</a>
                                </div>
                                <div class="col-4 text-end">
                                    <a style="color:#C71782;" href="{% url 'ethics' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a style="color:#000;" href="{% url 'director_message' %}">Director's Message</a>
                        </div>
                        <div class="col-4 text-end">
                           <a href="{% url 'director_message' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a href="{% url 'quality_control' %}">Quality Indicators </a>
                                </div>
                                <div class="col-4 text-end">
                                   <a href="{% url 'quality_control' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a style="color:#000;" href="{% url 'milestones' %}">Milestones</a>
                                </div>
                                <div class="col-4 text-end">
                                     <a href="{% url 'milestones' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a href="{% url 'biomedical'%}">Biomedical Waste Management (BMW)</a>
                                </div>
                                <div class="col-4 text-end">
                                   <a href="{% url 'biomedical'%}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 ">
                    <div class="row">
                        <div class="col-8" style="margin:auto 0px;">
                            <a href="{% url 'achievements' %}">Awards & Achievements</a>
                                </div>
                                <div class="col-4 text-end">
                                   <a href="{% url 'achievements' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
               
               <!--   <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'faq' %}">FAQ</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a href="{% url 'faq' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
            -->
           </div>
        
        
    </div>
</section>





 

{% endblock%}