{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <h1>Forever First in Care!</h1>
        <h2 style="color: #c71782; font-weight: 300;"> Milestones that Put Us First on the Care Map</h2>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1953</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>The Foundation Stone was Laid by Cardinal Tisserant</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1962</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Established Caritas Hospital & Institute of Health Sciences With Just 50 Beds</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1965</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Established Caritas School of Nursing</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1975</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Initiated Kerala’s First Dialysis Unit</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1981</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Established Caritas College of Pharmacy</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1995</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Caritas Hospital Trust was Registered</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">1997</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Bishop Tharayil Block (BT Block) was Blessed</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2002</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Caritas College of Nursing Started B.Sc. Nursing Programme</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2003</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Established Caritas Cancer Institute</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2005</h3>
            </div>
            <div class="col-lg-11">
                <ul><li>Caritas College of Nursing Started Post Basic B.Sc. Nursing</li></ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2008</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Inauguration of Bishop Makil Block (BM Block)</li>
                    <li>Caritas Hospital & Institute of Health Sciences Obtained ISO-9001 Certification</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2011</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Inauguration of Caritas Heart Institute</li>
                    
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2012</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Started Renal Transplantation Programme, the First in Central Travancore</li>
                    
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2014</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Started Heart Transplantation Programme</li>
                    
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2015</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Accredited by NABH and Became the First NABH Accredited Hospital in Kottayam District</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2018</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Bishop Chulaparambil Block (BC Block) Consisting Nuclear Medicine and PET-CT Centre was Inaugurated</li>
                    <li>The Hospital Achieved National Board of Examination’s (NBE) Approval to Conduct DNB Academic Programme</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2019</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Initiated Liver Transplantation Programme, the First in Central Travancore</li>
                    <li>The Hospital Obtained NABH Nursing Excellence Certification</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2020</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Introduced First & Only COVID Control Cell Among the Private Hospitals in Kerala</li>
                    <li>The Ethics Committee of the Hospital Got Accredited by NABH</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2021</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Launch of Caritas KMM Hospital, Puthenangady, Kottayam</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;">
        <div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2022</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Inaugurated a Renovated New-age Dialysis Unit With 45 Beds, Which is ` Operational Round the Clock </li>
                    <li>Inaugurated an Additional Chemotherapy Suite at Caritas Cancer Institute </li>
                    <li>NABH 5th Edition Accredited</li> 
                    <li>NABH Nursing Excellence Re-accredited</li> 
                    <li>Received Mother & Baby Friendly Hospital Initiative Accreditation (MBFHI)</li>
                    <li>Obtained Eat Right Campus Accreditation</li>
                    <li>Received EPiHC Accreditation</li>
                    <li>Launched Caritas HDP Hospital, Kaipuzha, Kottayam</li>
                    </ul>
            </div>
        </div>
        <hr class="my-3" style="border:1px solid #C71782;opacity:100%;"><div class="row">
            <div class="col-lg-1">
                <h3 style="color:#C71782;font-size:900 !important;">2023</h3>
            </div>
            <div class="col-lg-11">
                <ul>
                    <li>Received Great Place to Work Certification, the Gold Standard in Recognizing Great Workplace Cultures</li>
                    <li>Bestowed With Diamond Status by the World Stroke Organization (WSO) for Excellence in Stroke Care</li>
                    <li>Introduced Kerala’s First Laser Angioplasty System</li>
                    <li>Introduced Kerala’s First AI-powered 384-slice Diagnostic Cardiology Dual Energy RT-CT Scan Machine</li>  
                    <li>Introduced Kerala’s First TrueBeam With HyperArc Technology for High-Definition Radiosurgery Along With Surface-Guided Radiotherapy</li> 
                    <li>Caritas College of Pharmacy Received ISO 21001-2018 Certification</li> 
                    <li>Launched Caritas Family Hospital, Kalathipady, Kottayam</li>
                    <li>Introduced Telemedic AI ED on Wheels - C RATS AI (An AI-Powered Remote Ambulance Telemetry Services Powered By Caritas)</li>
                    <li>Bestowed With Best Blood Centre Among Private Hospitals in Kerala by the Kerala State Blood Transfusion Council</li>
                    </ul>
            </div>
        </div>
       
    </div>
</section>
<!--
<section >
    <div class="container ">
          
            <div class="row justify-content-center bottomlinks " style="width:90%;margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p><a style="color:#000;" href="{% url 'director_message' %}">Director's Message</a></p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                           <a href="{% url 'director_message' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000;" href="{% url 'ethics' %}">Ethics Committee</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'insurance' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a  href="{% url 'governing_body' %}">Governing Body</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a href="{% url 'blood' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'quality_control' %}">Quality Indicators </a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#C71782;" href="{% url 'milestones' %}">Milestones</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'clinical' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'biomedical'%}">Biomedical Waste Management (BMW)</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="{% url 'achievements' %}">Awards & Achievements</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a href="#">FAQ</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
            
           </div>
        
        
    </div>
</section>
-->
{% endblock%}