{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center mb-5">
            
                <h1 style="font-weight: 600;">Senior Executive/Executive - Healthcare Promotions <br/>(Referral/International)</h1>
                <p>&nbsp;</p>
                <a href=""><button type="button" class="enqrybtn" style="margin:0 auto;width:15%;" >Apply Now</button></a>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p>Department<br/><b>Marketing & Promotions</b></p>
            </div>
            <div class="col-lg-3">
                <p>Qualification<br/><b>MBA/PGDM/MHA</b></p>
            </div>
            <div class="col-lg-3">
                <p>Experience<br/><b>Min 3-5 Years</b></p>
            </div>
        </div>
        
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h5>Job Description</h5>
           <p> Caritas Hospital is seeking a dedicated and dynamic Senior Executive/Executive for Healthcare Promotions with a focus on referrals and international outreach. This role is pivotal in expanding our reach and strengthening relationships with both domestic and international stakeholders. The selected candidate will play a crucial role in promoting Caritas Hospital's healthcare services, building partnerships, and enhancing the organization's reputation in the healthcare industry.</p>
        </div>
        <div class="row">
            <h5>Key Responsibilities</h5>
            <ul style="margin: 15px;">
                <li>Develop and execute strategies to boost referrals and expand the hospital's network of healthcare professionals and institutions.</li> 
                <li>Cultivate and maintain relationships with referring physicians, medical institutions, and healthcare partners.</li> 
                <li>Collaborate with the marketing team to create compelling promotional materials and campaigns to attract patients. Coordinate and participate in international healthcare events, conferences, and exhibitions to promote Caritas Hospital's services globally.</li>
                <li>Act as a liaison between the hospital and international patients, ensuring seamless communication and support throughout their healthcare journey. Analyze market trends, competition, and patient feedback to refine promotional strategies and enhance the hospital's competitive edge.</li>
                <li>Monitor and report on the effectiveness of promotional initiatives, providing recommendations for continuous improvement.</li>
                </ul>
            </div>
            <div class="row">
                <h5>Preferred Skills</h5>
                <ul style="margin: 15px;">
                <li>Proven experience in healthcare promotions, referral management, or international patient coordination.</li>
                <li>Strong interpersonal and communication skills with the ability to build and nurture professional relationships. </li>
                <li>Proficiency in marketing tools, CRM systems, and analytics to track the success of promotional campaigns.</li>
                <li>A global mindset with an understanding of international healthcare dynamics and cultural sensitivities.</li>
                <li>Excellent organizational skills and the ability to manage multiple projects simultaneously.</li>
                <li>A passion for healthcare and a commitment to promoting high-quality patient care.</li>
                <li>Willingness to travel domestically and internationally as needed.</li>
                </ul>
                <p>&nbsp;</p>
           <hr style="width: 98%;margin:0 ;border:1px solid #C71782;opacity:100%;">
        </div>
    </div>
   
</section>
<section>
    <div class="container">
        <div class="row">
           <h4 style="font-weight:600;">Apply Now, For this <br/> Position</h4> 
           <p>&nbsp;</p>
        </div>
        <div class="row" style="width:70%;">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <form id="contactForm">
        <div class="form-row align-items-center">
            <div class="col">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name *" required>
            </div>
            <div class="col mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name *" required>
            </div>
            <div class="col mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email *" required>
            </div>
            <div class="col mb-3">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number *" required>
            </div>
            <div class="col mb-3">
                <label for="phoneNumber">Job Title</label>
            <p>Senior Executive/Executive - Healthcare Promotions (Referral/International)</p>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="tickbox">
            <label class="form-check-label" for="categorySales">
                By Ticking,I agree to the Terms and Conditions, and I am giving my consent to receive updates through email and sms.
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Apply Now</button>
        </div>
    </form>
   
    
</div>

        </div>
    </div>
</section>


{% endblock%}