{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Patients Testimonials </h1>
                
             <p>&nbsp;</p>   
        </div>
       <div class="row">
            {% for testimonial in testimonials %}
                <div class="col-md-6 mb-5">
                  
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ testimonial.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                    </div
                    <h5 class="mb-4">{{ testimonial.title }}</h5>
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
     </div>   
</section>



{% endblock%}