{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Dermatology & Cosmetology</h1>
                <h2 style="color: #c71782; font-weight: 300;">Best Dermatology Hospital in Kerala</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/derma1.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                         {% include 'caritasapp/enquiry_form_template.html' %}
                         
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container " id="deptmenu">
        <div class="navbar" id="navbr"> 
            <ul >
                <li><a href="#overview">Overview</a></li>
                <li><a href="#treatments-procedures">Treatments and Procedures</a><li>
                <li><a href="#doctors">Doctors</a><li>
                <li><a href="#articles">Articles</a><li>
            </ul>

        </div></div>
</section>
<section id="deptsections"><span id="overview"></span>
    <div class="container">
        <div class="row" >
            <h3>Discover Your Best Self: Your Journey to Beautiful, <br>Healthy Skin Begins Here</h3>
            <p>&nbsp;</p>
            <div class="col-lg-5">
                    <img src="{% static 'img/derma2.png' %}" style="width:96%;" />
             </div>
            <div class="col-lg-7 pt-4 mt-1">
                   <p style="font-weight:500;margin-bottom:30px;"> At Caritas Hospital, the Department of Dermatology is committed to providing top-tier dermatological care that encompasses both clinical and cosmetic aspects. We pride ourselves on offering state-of-the-art facilities and expertise to ensure that patients receive the highest quality treatment for a wide range of skin conditions.</p>
                   <p style="font-weight:500;">Our team of experienced dermatologists is dedicated to addressing general dermatological concerns with precision and compassion. Whether you're dealing with common skin ailments or more complex dermatological issues, you can trust that the Department of Dermatology at Caritas Hospital is equipped to provide <p style="font-weight:500;">effective and affordable solutions</p>
                   <p>Whether you require medical treatment for dermatological conditions or seek cosmetic dermatology services, Caritas Hospital's Department of Dermatology is here to deliver excellence in care, utilizing the latest advancements in the field to promote healthy, radiant skin.</p>
            </div>
        </div>
  </div>
</section>
<section  id="deptsections" style="background-color:#F4F6F6;max-width:100%;"><span id="treatments-procedures"></span>
    <div class="container mt-5">
                <div class="row justify-content-center">
                    <h3 class="text-center">Treatment and Procedures</h3>
                    <p class="text-center mb-5 mt-3">The treatments and services offered by the Department include:</p>


                </div>
                <div class="row justify-content-center" style="width:60%;margin:0 auto;"> 
                <div class="col-lg-5">
               <ul>
                    <li>
                        <p>Microdermabrasion</p>
                    </li>
                    <li>
                        <p> Chemical peeling</p>
                    </li>
                    <li>
                        <p>  Facial rejuvenation</p>
                    </li>
                    <li>
                        <p> Punch grafting</p>
                    </li>
                    <li>
                        <p>   Biopsy</p>
                    </li>
                </ul>
                </div>
                 <div class="col-lg-6">
                     <ul>
                        <li>
                            <p>Cryosurgery</p>                        
                             </li>
                        <li>
                            <p> Radiosurgery</p>
                        </li>
                        <li>
                            <p>Electro-surgery</p>
                        </li>
                        <li>
                            <p> Painless injection for keloids, Iontophoresis, and effective treatment for pigmentation, vitiligo, hair loss/ hair fall, unwanted hair, moles, warts, skin tags, corns and calluses are also done here.</p>
                        </li>
                    </ul>
                 </div>
            </div>

        
    </div>
</section>

<section id="deptsections"><span id="doctors"></span>
    <div class="container mt-5">
         <h3 class="text-center mb-4">Dedicated Team of Doctors</h3>
            <p class="text-center">At Caritas, our dedicated team of experienced doctors is committed to your well-being. With a wealth of medical expertise and a passion for compassionate care, our physicians are here to provide you with top-notch healthcare services.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row  " >
                 
                <h5 class="mainheading">Dermatology & Cosmetology</h5>
                {% for doctor in doctors%}
                 {% if doctor.specialization == "Dermatology & Cosmetology" %} 
                 
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 pt-4 doctorbox ">
                        <div class="d-flex align-items-center">
                            <div class="col-lg-3 col-md-3 col-sm-12 mr-5 dr_img">
                                <img src="{{ doctor.image.url }}" alt="Doctor img" class="img-fluid" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mx-2 mt-2">
                                <h4>{{ doctor.name }}</h4>
                                <h6>{{ doctor.designation }}</h6>
                                <h6><a style="color:#c71782;" href="#">{{ doctor.department }}</a></h6>
                                <p class="hide_mobile">&nbsp;</p>
                                <p><a style="color:#c71782;" href="https://booking.caritashospital.org/schedule/OnlineAppointmentBooking/OnlineAppointmentBooking.aspx" target="_blank">Book An Appointment<i class="bi bi-chevron-right ms-2"></i></a></p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 ml-auto align-self-start drurl">
                                <a href="{% url 'doctor_detail' doctor_id=doctor.id %}">
                                    <i class='bi bi-arrow-right-circle' style="font-size:40px;color:#C71782;"></i>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>
                
            {% endif %}
            {% endfor %}
           
        </div>
    </div>
</section>
<section id="deptsections">
    <span id="articles"></span>
    <div class="container mt-5">
        <div class="row">
            

            {% if posts_exist %}
            <h3 class="mb-4 text-center">Articles to Read</h3>
            <p class="mb-4 text-center">Whether you're seeking knowledge, inspiration, or valuable insights, our articles offer a wealth of information to inform and empower you on your journey towards better health and well-being.</p>
            <p>&nbsp;</p>
                {% for post in posts %}
                    {% if post.department.name == "Dermatology & Cosmetology" %}
                        <div class="col-lg-12">
                            <div class="post">
                                <div class="row align-items-center mx-4">
                                    <div class="col-lg-11">
                                        <h6>{{ post.title }}</h6>
                                    </div>
                                    <div class="col-lg-1">
                                        <a href="{% url 'detail' post.slug %}">
                                            <img src="{% static 'img/right-arrow.png' %}" alt="right-arrow">
                                        </a>
                                    </div>
                                </div>
                                <hr style="width: 95%; margin: 30px auto;">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <p><a class="mx-4 mt-5" href="{% url 'articles' %}" style="color:#c61682;">View All Articles <i class="bi bi-chevron-right ms-2"></i></a></p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock%}