{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Insurance Partners</h1>
                <h2 style="color: #c71782; font-weight: 300;">Building a Healthy Future Together</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/insurance1.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                     {% include 'caritasapp/enquiry_form_template.html' %}
                     
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" id="insurance">
        <div class="row justify-content-center mb-5" >
            <h3>Quality Care Meets Comprehensive Coverage <br/>with Caritas Hospital's Insurance Network.</h3>
            <p>&nbsp;</p>
            <p>Caritas Hospital takes pride in its extensive network of collaborations with multiple healthcare insurance providers, encompassing not only well-established private companies but also leading public sector stakeholders. </p>
            <p>As a valued Caritas insurance beneficiary, you not only gain access to a wide range of healthcare services but also have the opportunity to leverage the advantages defined in Section 17(2) of the Income Tax Act.</p>
            <p>Our commitment to your health and happiness is further reflected in our strategic partnerships with the following Insurance and Third-Party Administrator (TPA) companies. These partnerships are a testament to our unwavering dedication to providing you with comprehensive healthcare solutions that prioritize your well-being and ensure peace of mind.<p>
                
            <p> For More Information:<a style="color:#0072bc;" href="tel:+919446021300"> +91 9446 021 300</a> | Email: <a style="color:#0072bc;" href="mailto:insurance.caritashsp@gmail.com">insurance.caritashsp@gmail.com</a></p>
            </div>
            <div class="row " >
            <div class="col-lg-2 mx-3 ">
                <img src="{% static 'img/apollo.png' %}" alt="apollo"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/aditya.png' %}" alt="aditya"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/bajaj.png' %}" alt="allianz"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/chola.png' %}" alt="chola"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/fhp.png' %}" alt="fph"   />
            </div>
            
            </div>
             <div class="row  ">
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 383.png' %}" alt="apollo"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/hdfc ergo.png' %}" alt="hdfc-ergo"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 385.png' %}" alt="allianz"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 387.png' %}" alt="chola"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/ICIC.png' %}" alt="ICICI"   />
            </div>
            
            </div>
             <div class="row ">
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 389.png' %}" alt="liberty"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 390.png' %}" alt="aditya"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 391.png' %}" alt="allianz"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 392.png' %}" alt="niva"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/PHS_Logo.png' %}" alt="PHS"   />
            </div>
            
            </div>
             <div class="row ">
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/raksha TPA.png' %}" alt="raksha"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/heritage-health.png' %}" alt="heritage-health"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 396.png' %}" alt="reliance"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 397.png' %}" alt="star"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 398.png' %}" alt="universal"   />
            </div>
            
            </div>
             <div class="row  ">
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 399.png' %}" alt="vidal"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 400.png' %}" alt="safeway"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/SBI.png' %}" alt="sbi"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 402.png' %}" alt="chola"   />
            </div>
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/Group 404.png' %}" alt="ericson"   />
            </div>
            
            </div>
             <div class="row ">
            <div class="col-lg-2 mx-3">
                <img src="{% static 'img/medvantage-logo.png' %}" alt="medvantage-logo "   />
            </div>
            
            </div>
              
        </div>
</section>


<section >
    <div class="container mt-5">
          
            <div class="row  bottomlinks" style="margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                  <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p><a style="color:#000 !important;" href="{% url 'radiology' %}">Radiology & Laboratory</a></p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                           <a href="{% url 'radiology' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                     <p><a style="color:#C71782 !important;" href="{% url 'insurance' %}">Insurance Partners</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'insurance' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                          <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a  href="{% url 'blood' %}">Blood Bank</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a style="color:#C71782;" href="{% url 'blood' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>                            <hr style="width: 98%;margin:0 ;">
                </div>
               
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000 !important;" href="{% url 'clinical' %}">Clinical Nutrition</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'clinical' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
              
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'pastoralcare' %}">Pastoral Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'pastoralcare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000 !important;" href="{% url 'organ' %}">Organ Transplant Program</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'organ' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a  href="{% url 'homecare' %}">Caritas Home Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a  href="{% url 'homecare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                
       
                
           </div>
        
        
    </div>
</section>




 

{% endblock%}