{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Caritas Oragan Transplant Programme</h1>
                <h2 style="color: #c71782; font-weight: 300;">Licensed Multi Organ Transplantation Centre in Kerala</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/organ1.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                    <form action="your_action_url_here" method="POST" class="custom-form">
                        <div class="form-group row mb-2">
                            <label for="first_name" class="col-sm-4 col-form-label text-light">First Name:</label>
                            <div class="col-sm-8">
                                <input type="text" id="first_name" name="first_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="last_name" class="col-sm-4 col-form-label text-light">Last Name:</label>
                            <div class="col-sm-8">
                                <input type="text" id="last_name" name="last_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="email" class="col-sm-4 col-form-label text-light">Email:</label>
                            <div class="col-sm-8">
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="phone_number" class="col-sm-4 col-form-label text-light">Phone Number:</label>
                            <div class="col-sm-8">
                                <input type="tel" id="phone_number" name="phone_number" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mt-4">
                            <div class="col-sm-12">
                                <button type="submit" class="enqrbtn">Enquire Now ></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>



<section id="overview">
    <div class="container">
        <div class="row" >
            <h3>Pioneering Excellence in Multi-Organ Transplants: <br>Caritas, Central Travancore's Leading Transplant Center</h3>
            <p>&nbsp;</p>
                   <p style="font-weight:500;margin-bottom:30px;"> Caritas is a licensed multi organ transplantation centre (for both deceased & live donor) with a team of outstanding doctors working dedicatedly for the success of the programme. We offer Kidney, Heart, Lung, Liver & Bone-marrow transplantations. We are the pioneers of its kind in private sector in Central Travancore. Ours is the only Liver Transplant centre in Central Travancore. Our success rates in Heart & Liver transplantations are 100% and in Kidney it is 99%.
                   </p>
                   
            
        </div>
  </div>
</section>
<section >
    <div class="container mt-5">
          
            <div class="row justify-content-center " style="width:90%;margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p>Radiology & Laboratory</p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                            <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Insurance Partners</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p >Blood Bank</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Second Opinion</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Clinical Nutrition</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Caritas Support Team</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Physiotherapy</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Pastoral Care</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p style="color:#C71782" >Organ Transplant Program</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p>Caritas Home Care</p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                
       
                
           </div>
        
        
    </div>
</section>


 

{% endblock%}