{% extends 'base.html' %}
{% load static %}
{% load video_tags %} -

{% block content%}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            
                <h1 style="font-weight: 600;">Stroke Help Line</h1>
                <h2 style="color: #c71782; font-weight: 300;">Caritas Neurosciences - 30-Minute Stroke Care</h2>
                
        </div>
        <div class="row px-3">
            <div class="col-lg-8 col-md-10 col-sm-12 text-center px-0 " style="margin:auto 0;">
                <img src="{% static 'img/stroke.png' %}" class="img-fluid" alt="Cancer Institute Image" />
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12 px-5 py-5" style="background-color: #c71782;">
                <div class="col-content text-justify">
                    <h4 class="text-light">Have Questions?<br/>We're Here to Help</h4>
                    <p class="text-light">Feel free to reach out, and let's embark on a journey to better health together.</p>

                     {% include 'caritasapp/enquiry_form_template.html' %}
                     
                </div>
            </div>
        </div>
    </div>
</section>

<section >
    <div class="container">
        <div class="row" >
            <h3>Stroke Helpline Number<br> +91 9496555800</h3>
            <p>&nbsp;</p>
            <p>Stroke Help Line, the 24-hour, on-call hyper acute stroke clinic of Caritas Hospital, is perhaps the only facility of its kind in the region. The expert doctors in the Clinic provide in-hospital evaluation, brain imaging (CT/MRI), and diagnosis and treatment initiation for stroke patients within 30 minutes of arrival. We also provide specialized care for Transient Ischemic Stroke (TIS). It is a condition where the patient shows stroke-like symptoms which subside by the time they are brought to hospital. </p>
            <p>&nbsp;</p>
            <p> The Acute Stroke Clinic of Caritas Hospital has the following equipment and facilities:</p>
            <p>&nbsp;</p>
          </div>   
         <div class="row mt-4">
                <div class="col-lg-6" >
                    <ul>
                    <li class="mb-3">CT Scanner</li>
                    <li class="mb-3"> 1.5 Tesla MRI</li>
                    <li class="mb-3"> Hybrid Cath Lab</li>
                    <li class="mb-3">Dedicated Neuro ICUs</li>
                    <li class="mb-3"> Integrated Neurosurgery units</li>
                    <li class="mb-3">Comprehensive Stroke Centre </li>
                    <li class="mb-3">  Dedicated Acute Stroke Team in Emergency</li>
                    <li class="mb-3"> Cath-Lab with Neuro Interventional Procedures </li>    </ul>               
                </div>
                <div class="col-lg-6" >
                  <ul> 
                    <li class="mb-3">Specialized Neuro Rehabilitation Unit</li>
                    <li class="mb-3">Video EEG & Sleep Lab</li>
                    <li class="mb-3">Aneurysm Coiling</li>
                    <li class="mb-3">Minimally Invasive Spine Surgeries</li>
                    <li class="mb-3">AWAKE Craniotomy</li>
                   <li class="mb-3">  Stitchless  Spine Surgery for Disc Prolapses </li>
                   <li class="mb-3">19 Bedded Neuro Critical Care ICU</li>
                   <li class="mb-3"> 24/7 Service from expert Neurologists Neuro Surgeons, Interventional Radiologist & Neuro Physiatrist</li>
                  
                   </ul>
                </div>
            </div>   
        </div>
</section>
<section  style="background-color:#FAF9F9;">
    <div class="container mt-5">
        <div class="row" style="width:70%;margin:0 auto;">
        <h3 class="text-center">Frequently Asked Questions (FAQ) - Detecting Stroke</h3>
        <p class="text-center mb-5 mt-3">Our FAQ is designed to empower you with knowledge, enabling you to make informed decisions that can potentially save lives and improve outcomes in the event of a stroke. </p>
     
        <div class="accordion-wrapper" >
           <button class="accordion" >How do I reach Caritas Hospital?</button>
            <div class="panel">
               <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
                        
            </div>
            <hr style="width: 100%;margin:0;">
                    
            <button class="accordion" >How can I book an appointment?</button>
             <div class="panel">
               <p>You can book an appointment through WhatsApp number for both physical consultation and teleconsultation.</p>
                       
            </div>
            <hr style="width: 100%;margin:0;">
            <button class="accordion" >What are the visiting hours for patients? </button>
            <div class="panel">
                <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
            </div>
            <hr style="width: 100%;margin:0;">
            <button class="accordion" >Is parking available at the hospital? </button>
            <div class="panel">
                <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
            </div>
             
        </div>
         <div class="text-center">
        <a style="color: #c71782 !important;font-weight: 700;" href="#">View All <i class="bi bi-chevron-right "></i></a>
        </div>
    </div>
    </div>
</section>
   

<section >
    <div class="container mt-5">
          
            <div class="row justify-content-center " style="width:90%;margin:0 auto;">
                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                  <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p><a style="color:#000 !important;" href="{% url 'radiology' %}">Radiology & Laboratory</a></p>
                        </div>
                        <div class="ml-4" style="margin-left: 20%;">
                           <a href="{% url 'radiology' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                        </div>
                    </div>
                    <hr style="width: 98%;margin:0 ;">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                     <p><a style="color:#000 !important;" href="{% url 'insurance' %}">Insurance Partners</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'insurance' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>

              <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                          <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000000 !important;" href="{% url 'blood' %}">Blood Bank</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a style="color:#C71782;" href="{% url 'blood' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                             <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'secondopinion' %}">Second Opinion</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a style="color:#C71782;" href="{% url 'secondopinion' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000 !important;" href="{% url 'clinical' %}">Clinical Nutrition</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'clinical' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'support' %}">Caritas Support Team</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a style="color:#000 !important;" href="{% url 'support' %}"> <i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                           <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'physiotherapy' %}">Physiotherapy</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                   <a href="{% url 'physiotherapy' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'pastoralcare' %}">Pastoral Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#C71782;" href="{% url 'pastoralcare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p> <a style="color:#000 !important;" href="{% url 'organ' %}">Organ Transplant Program</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                     <a href="{% url 'organ' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                 <div class="col-lg-6 col-md-6 col-sm-12 px-3 pt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p><a style="color:#000 !important;" href="{% url 'homecare' %}">Caritas Home Care</a></p>
                                </div>
                                <div class="ml-4" style="margin-left: 20%;">
                                    <a style="color:#000 !important;" href="{% url 'homecare' %}"><i class='bi bi-arrow-right' style="color:#C71782;font-size:35px"></i></a>
                                </div>
                            </div>
                            <hr style="width: 98%;margin:0 ;">
                </div>
                
       
                
           </div>
        
        
    </div>
</section>



{% endblock%}